*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

/*DaFont*/
@font-face {
    font-family:"Spicy" ;
    src: url('Spicy Sale.ttf') format(truetype);
}

body{
    background-image: linear-gradient(to top, white, #7a207a);
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;;
}

h1{
    font-family: "Spicy";
    text-align: center;
    color: white ;
    
}

img{
    width: 100px;
}

p{
    margin-bottom: 15px;
    font-weight: bold;
}

header{
    text-align: center;
    margin-bottom: 20px;

}

form{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 100px;
}

fieldset{
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}

input:invalid,
select:invalid,
textarea:invalid{
    border-color: red;
}

input:valid,
select:valid,
textarea:valid{
    border-color: green;
} 

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
    color: white;
}

button[type="reset"]:hover{
    background-color: rgb(211, 105, 19);
    color: white;
}